<div class="hero-video">
	<div class="hero-video__container">
		<div class="hero-video__video-container">
			<video
				poster="/assets/hero/space-thumbnail.jpg"
				class="hero-video__video"
				autoplay
				loop
				muted
			>
				<source src="/assets/hero/space.mp4" type="video/mp4" />
				<source src="/assets/hero/space.webm" type="video/webm" />
			</video>
		</div>

		<div class="hero-video__content-wrapper">
			<div class="hero-video__content">
				<div class="hero-video__name">Hello there!</div>

				<div class="hero-video__sub-name">My name is Oliver.</div>
			</div>
		</div>
	</div>
</div>

<style lang="scss">
	@import "../../styles/mixins/max-width.scss";
	@import "../../styles/mixins/breakpoints.scss";
	@import "../../styles/mixins/font.scss";

	.hero-video {
		width: 100%;
		height: 100vh;
		background: #000;

		&__container {
			position: fixed;
			width: inherit;
			height: inherit;
			z-index: 1;
		}

		&__video-container {
			overflow: hidden;
			width: inherit;
			height: inherit;
		}

		&__video {
			min-width: 100%;
			min-height: 100vh;
			filter: blur(3px) grayscale(20%);
			opacity: 0.8;

			@keyframes hero-fade-in {
				0% {
					opacity: 0;
				}
				100% {
					opacity: 0.8;
				}
			}

			animation: 3s hero-fade-in;

			@media only screen and (max-width: $breakpoint-small) {
				position: absolute;
				left: -50%;
			}
		}

		&__content-wrapper {
			width: inherit;
			height: inherit;

			position: absolute;
			top: 0;
			left: 0;

			display: flex;
			justify-content: center;
			align-items: center;

			box-shadow: inset 0 0 150px #000;
		}

		&__content {
			text-align: left;
			color: #fff;

			@include max-width();
		}

		&__name {
			font-size: 120px;
			font-weight: 900;
			padding-bottom: 16px;
		}

		&__sub-name {
			font-size: 32px;
			margin-bottom: 64px;
			margin-left: 8px;
		}

		@media only screen and (max-width: $breakpoint-medium) {
			&__name {
				font-size: 80px;
				padding-bottom: 8px;
			}

			&__sub-name {
				margin-left: 4px;
			}
		}

		@media only screen and (max-width: $breakpoint-small) {
			&__name {
				font-size: 52px;
			}

			&__sub-name {
				font-size: $font-size-text;
				margin-left: 2px;
			}
		}
	}
</style>
