.spacing--section-headline {
	padding: 24px 0 !important;
}

.spacing--section-headline-top {
	margin-top: 48px !important;
}

.spacing--section-text {
	padding: 16px 0 !important;
}

.spacing--project-headline {
	padding: 16px 0 !important;
}
