---
import HeroScrollOver from '../components/Hero/HeroScrollOver.astro';
import HeroVideo from '../components/Hero/HeroVideo.astro';
import LogoRow from '../components/LogoRow.astro';
import ProjectRow from '../components/ProjectRow/ProjectRow.astro';
import SectionHeadline from '../components/Text/SectionHeadline.astro';
import SectionText from '../components/Text/SectionText.astro';
import WidthContainer from '../components/WidthContainer.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer/Footer.astro';
---

<Layout>
	<main>
		<HeroVideo />

		<HeroScrollOver>
			<WidthContainer>
				<SectionHeadline spacing>
					Welcome!
				</SectionHeadline>

				<SectionText spacing>
					My name is Oliver. I am a german full stack developer and I love coding. And Star Wars, as you might have guessed from the title of this page.
					I am currently 22 years old and live in Elmshorn, a rather small city near Hamburg in Germany. Besides coding and Star Wars I really enjoy cycling in my free time.
					After school I did an apprenticeship as an application developer, which I officially completed in January of 2023.
				</SectionText>

				<SectionHeadline spacing spacingTop>
					My Skillset
				</SectionHeadline>

				<SectionText spacing>
					During the past few years I gained quite a bit of experience in a relative specific tech stack. I just listed a few logos below.
				</SectionText>

				<LogoRow />

				<SectionHeadline spacing spacingTop>
					Recent Projects
				</SectionHeadline>

				<SectionText spacing>
					Most of my professional projects are of course closed source and therefore not accessible to the public.
					Below are some of my private projects, including a link to their source code on GitHub and the deployed result.
				</SectionText>

				<ProjectRow />
			</WidthContainer>

			<Footer />
		</HeroScrollOver>
	</main>
</Layout>
