$font-size-text: 19px;
$font-size-headline-2: 48px;
$font-size-headline-3: 28px;
$font-size-link: 16px;

$font-line-height-text: 38px;
$font-line-height-headline-2: 150%;
$font-line-height-headline-3: 150%;

$font-color-text: #333;
$font-color-headline-2: #111;
$font-color-headline-3: #111;
$font-color-link: #4437ce;
